.navbar-fixed-t {
    padding: 10px 0;
/*    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;*/
}

.navbar-brand {
    font-size: 1.5em;
}

.navbar {
    border-radius: 0px;
}

header .container {
    padding-bottom: 175px;
}

.submit_btn{
    float: right;
}

#contact {
    padding-top:100px ;
    padding-bottom:50px;
}


#portfolio .portfolio-item {
    height: 175px;
}

.testimonials{
  margin-top: 50px;
}

#portfolio {
  padding-bottom: 0px;
  padding-top: 150px;
}

.break-up {
  padding: 1em;
  margin: 1em;
  background-color: transparent;
  background-image: url("../img/linedpaper.png");
  font-family: 'Rock Salt', cursive;
  box-shadow: 3px 4px #65247f;
}